
@font-face {
  font-family: BinggraeMelona;
  src: url('fonts/BinggraeMelona.otf') format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: BinggraeMelona;
  src: url('fonts/BinggraeMelonaBold.otf') format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 유니땅땅땅땅;
  src: url('fonts/나눔손글씨 유니 띵땅띵땅.ttf') format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: 유토이미지;
  src: url('fonts/유토이미지.ttf') format("truetype");
  font-weight: normal;
}
*,
:before,
:after {
    box-sizing: border-box;
}

body {
    background-color: 	#f3ece4;
    color: #011a32;
    text-align: center;
}
img {
  display : block ;
  margin : 0 auto ;
  line-height: 1.5;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 80em;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
}

h1 {
    animation: text-shadow 1.5s ease-in-out infinite;
    font-family:유토이미지;
    font-size: 7rem;
    font-weight: 500;
    line-height: 1.5;
}
p{
  font-family: 유니땅땅땅땅;
  font-size: 4rem;
  line-height: 0;
}

h1:hover {
    animation-play-state: paused;
}

a {
    color: #372106;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }

    20% {
        transform: translateY(-1em);
        text-shadow:
            0 0.125em 0 #0c2ffb,
            0 0.25em 0 #2cfcfd,
            0 -0.125em 0 #fb203b,
            0 -0.25em 0 #fefc4b;
    }

    40% {
        transform: translateY(0.5em);
        text-shadow:
            0 -0.0625em 0 #0c2ffb,
            0 -0.125em 0 #2cfcfd,
            0 0.0625em 0 #fb203b,
            0 0.125em 0 #fefc4b;
    }

   60% {
        transform: translateY(-0.25em);
        text-shadow:
            0 0.03125em 0 #0c2ffb,
            0 0.0625em 0 #2cfcfd,
            0 -0.03125em 0 #fb203b,
            0 -0.0625em 0 #fefc4b;
    }

    80% {
        transform: translateY(0);
        text-shadow:
            0 0 0 #0c2ffb,
            0 0 0 #2cfcfd,
            0 0 0 #fb203b,
            0 0 0 #fefc4b;
    }
}

@media (prefers-reduced-motion: reduce){
    * {
      animation: none !important;
      transition: none !important;
    }
}
@@media (min-width: 481px) and (max-width: 767px) {
  background

}
